---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="post-header">
        <p>작성일 : {frontmatter.pubDate.toString().slice(0,10)}</p>
        <p>작성자 : Written by {frontmatter.author}</p>
        <p><em>{frontmatter.description}</em></p>
        <img class="post-image" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
    <p/>
    <div class="tags">
        {frontmatter.tags.map((tag: string) => (
            <p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
        ))}
    </div>
    <hr />
    <slot />
    
</BaseLayout>

    <style>
        .post-header {
            position: relative;
            overflow: hidden;
            padding: 1rem;
        }
        .post-header > :not(img) {
            position: relative;
            z-index: 1;
            mix-blend-mode: difference;
            color: white;
        }
        .post-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110%;
            height: 110%;
            object-fit: cover;
            object-position: center;
            /* border-radius: 8px; */
            opacity: 0.95;
            filter: blur(4px);
            z-index: 0;
        
        }
        .post-header > p {
            margin: 0.4rem 0;
        }
        .post-header > *::before {
            content: "📌";
            margin-right: 0.5rem;
        }
        hr{
            margin: 0.5rem 0 3rem 0;
            border: 1px dashed #ccc;
        }

        a {
            color: #00539F;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
        .tag {
            margin: 0;
            background-color: #0070f330;
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
        }
        .tag > a {
            text-decoration: none;
            color: #0070f3;
            font-weight: bold;
        }
        .tag > a:hover {
            text-decoration: underline;
        }
    </style>